@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display =intercambiar');

.bodyNuevoDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.container-nuevodev {
    background-color: #F1F1F1;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 70%;
    height: 95%;
    margin-top: 3%;
    max-width: 100%;
    min-height: 500px;
    display: flex;
    z-index: 100;
}

.container-nuevodev .NuevoDev,
.imagen-nuevoDev {
    flex: 1;
    /* Permite que los campos de entrada de los apellidos se expandan para llenar el espacio disponible */
    margin-right: -5%;
    /* Ajusta el margen entre los campos de entrada de los apellidos */
}

.container-nuevodev .NuevoDev,
.imagen-nuevoDev {
    margin-right: 0;
    /* Elimina el margen derecho del último campo de entrada de los apellidos */
}

.container-nuevodev .NuevoDev{
    width: 40%;
    align-items: center;
    justify-content: center;
}

.formularioNuevoDev {
    height: 95%;
    width: 60%;
    margin-left: 20%;
}

.apellidos_Container {
    display: flex;
    /* Hace que los elementos hijos se muestren en línea */
}

.apellidos_Container #apmat,
#appat {
    flex: 1;
    /* Permite que los campos de entrada de los apellidos se expandan para llenar el espacio disponible */
    margin-right: 8%;
    /* Ajusta el margen entre los campos de entrada de los apellidos */
}

.apellidos_Container #apmat,
#appat:last-child {
    margin-right: -6.25%;
    /* Elimina el margen derecho del último campo de entrada de los apellidos */
}

.container-nuevodev #textito-admin {
    color: var(--text-color-3);
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 15.5%;
    position: absolute;
    font-family: "Nunito", sans-serif;
    font-size: 15px;

}

.container-nuevodev #titulo-dev {
    width: 50%;
    font-size: 25px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    color: #FF9F49;
    text-align: center;
    margin-left: 26.5%;
    margin-top: 7%;
}

.container-nuevodev .NuevoDev .datosDev {
    background-color: #FFF;
    border: none;
    margin: 8px 0;
    padding: 8.5px;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    outline: auto;
    outline-color: #FFF;
    color: #949494;
    transition: outline 0.5s ease;
    font-family: "Baloo Thambi 2", system-ui;
}

.container-nuevodev .NuevoDev .datosDev:hover {
    /* Cambia el color del texto al pasar el mouse */
    outline-color: #FF9F49;
    border-color: #ff9f49;
    /* Agrega un borde naranja al pasar el mouse */
}

.container-nuevodev .NuevoDev .datosDev::placeholder {
    color: #949494;
    /* Color del placeholder predeterminado */
    transition: color 0.5s ease;
    /* Transición suave */
}

.container-nuevodev .NuevoDev .datosDev:hover::placeholder {
    color: #ff9f49;
    /* Cambia el color del placeholder al pasar el mouse */
}

.container-nuevodev #btn-registrarDev {
    background-color: #FF9F49;
    color: #fff;
    font-size: 15px;
    font-family: "Baloo Thambi 2", system-ui;
    padding: 7.5px 45px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 25%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #FFF;
    background-image: none;
    flex: 1;
    padding: 0 .3em;
    color: #949494;
    cursor: pointer;
    font-size: .9em;
    font-family: "Baloo Thambi 2", system-ui;
}

select::-ms-expand {
    display: none;
}

.select {
    margin-top: 3%;
    position: relative;
    display: flex;
    width: 19em;
    height: 2.8em;
    line-height: 3;
    background: #FFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    color: #3C3C3C;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FFF;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #1E1E1E;
}

.imagen-nuevoDev {
    width: 60%;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-image: url("https://i.postimg.cc/c1cM2bkP/Imagen-registro-Admin.png");
    background-position: right;
    background-size: 98vh;
    background-repeat: no-repeat;
}

.imagen-nuevoDev img {
    width: 100%;
    height: 100%;
}