@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display =intercambiar');

.body-ticketsito-dev {
    background-color: var(--background-color);
    font-family: "Baloo Thambi 2", system-ui;
}

.filtritos{
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--background-color-2);
  background-image: none;
  flex: 1;
  padding: 0 .3em;
  color: var(--text-color);
  cursor: pointer;
  font-size: .9em;
  font-family: "Baloo Thambi 2", system-ui;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.8em;
  line-height: 3;
  background: var(--background-color-6);
  overflow: hidden;
  border-radius: 15px;
  color: var(--text-color-7);
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: var(--background-color-6);
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: var(--text-color-7);
}

.buscador {
  padding: 10px;
  width: 17em;
  height: 1.65em;
  transition: .2s;
  outline: none;
  margin-left: 15%;
  border: none;
  background-color: var(--background-color-2);
  color: var(--text-color);  
  border-radius: 15px;
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 15px;

}

/* Estilos para el primer botón */
.detalles {
  padding: 10px 20px;
  background-color: #FF9F49; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 10px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: .5s;
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 15px;
}

.asignar{
  padding: 10px 20px;
  background-color: #FFD557; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 10px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: .5s;
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 15px;
}

td button:hover {
  background-color: #949494;
}

.ticket-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 15px;
  padding: 20px;
  overflow-x: auto; /* Agregamos un desbordamiento horizontal para la tabla */
  background-color: var(--background-color); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Aplicar el efecto borroso */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores webkit */
  box-shadow: 0px 4px 6px var(--background-color-11);
}

.ticket-header {
  text-align: center;
  margin-bottom: 20px;
  color: #FF9F49;
}

.ticket-title {
  font-size: 24px;
  font-weight: bold;
}

.ticket-body {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

/* Estilos para la tabla */
table {
  width: 100%; /* Ahora la tabla ocupará todo el ancho del contenedor */
  text-align: center;
}

th{
  padding: 8px;
  background-color: var(--background-color-6);
  border-radius: 13px;
  color: var(--text-color-7);
}

td {
  padding: 8px;
  border-radius: 13px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 13px
}

/*MODAL*/

.modal {
  display: block; /* Mostrar el modal */
  position: fixed; /* Posición fija */
  z-index: 100; /* Z-index alto para estar encima del resto del contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  overflow: auto; /* Permitir desplazamiento si el contenido es demasiado grande */
}

/* Contenido del modal */
.titul{
  background-color: white;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 1%;
  /* Centrar vertical y horizontalmente */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #888;
  width: 60%;
  /* Ancho máximo del contenido */
  position: relative;
  border-radius: 8px;
  text-align: center;
}

/* Contenido del modal */
.modal-content {
  background-color: white;
  margin: auto;
  /* Centrar vertical y horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Ancho máximo del contenido */
  position: relative;
  border-radius: 8px;
}

/* Botón para cerrar el modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal .modal-content p {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

.modal .modal-content .p {
  color: #6F6F6F;
}

.modal .modal-content .psito {
  font-weight: 500;
  color: #FFF;
}

.modal-content .table-content{
  width: 70%;
  margin: 0 auto;
}
.modal-content .table-content tr{
  height: 2em;
}

.modal-content .table-content .tdsito1{
  text-align: center;
  width: 25%;
  background-color: #FF9F49;
  border-radius: 15px;
}

.modal-content .table-content .tdsito2{
  padding-left: 15px;
  background-color: #F1F1F1;
  border-radius: 15px;
}

#titulinn{
  color: #FF9F49;
  font-weight: bold;
  font-size: 20px
}

.fotografía {
  margin-top: 10px;
}

/* Estilos para las imágenes */
.fotografía img {
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#reasignar-btn{
  background-color: #A4DF77; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 8px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: .5s;
  font-family: "Baloo Thambi 2", system-ui;
  padding: 5px;
}


::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Radio de la esquina de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9; /* Color de la barra de desplazamiento al pasar el mouse sobre ella */
}



